@import url(./menu.css);

:root{
    --red:crimson;
    --green:#53BF9D;
    --yellow:#FFC54D;
    --white:whitesmoke;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.landing{
    background-image: url(./media/bac\ img1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--white);
    position: relative;
}
header a{
    text-decoration: none;
    color: var(--yellow);
}
nav a::after{
    content: '';
    display: block;
    background-color: var(--green);
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s;
}
nav a:hover::after{
    transform: scaleX(1);

}
header{
    display: flex;
    align-items: center;
    padding: 1em;
    position: sticky;
    top: 0px;
    background-color: var(--red);
}
#logo{
    flex: 3;
    font-size: 1.25em;
}
nav{
    flex: 2;
    display: flex;
    justify-content: space-between;
}
nav a:hover{
    color: var(--green);
}
#bar{
    display: none;
    cursor: pointer;
    
}
/* ----------------------------nav bar end-------------------- */
.maintext{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding: 2em;
    gap: .75em;
}
.tagline1{
    color: var(--red);
    font-size: 2.5em;
    font-weight: bolder;
}
.tagline2{
    color: var(--yellow);
}
.maintext button{
    width: 20vw;
    border-radius: 10px;
    padding: .7em;
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
}
.maintext button:hover{
     /* transform: scale(1.2); */
     animation: but 2s infinite;
}
@keyframes but {
    0%,100%{transform: translateY(0);}
    50%{transform: scale(1.1);}
    
}

/* ---------------------location-------------------------- */

.location{
    background-image: linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.location h2{
    color: var(--green);
    margin-bottom: .8em;
    margin-top: .8em;

}
/* ------------------location end------------------ */

/* --------------------------offers------------------- */
.offers{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 20px;
    background-image: linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
}
.offers div{
    border-radius: 20px;
    overflow: hidden;
}
.offers div:hover{
   animation: offer 3s infinite;
}
@keyframes offer {
}
.offers img{
    width: 100%;
    height:21em;
    object-fit: cover;
    /* padding-top: 20px; */
}
/* ----------------offers end------------------- */

footer{
   display: grid;
   grid-template-columns: 1fr 1fr;
   background-image: linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
   color: var(--white);
   position: relative;
}
.line{
    height: 0.20em;
    background-color: var(--green);
}
footer div{
    margin-top: 1em;
    padding: 0 3em;
}
/* .fhead{
    padding-left: 2.2em;
} */
footer h1{
    color: var(--red);
}
table th{
    color: var(--red);
}
.icon{
    padding: 0 0 3em 2.2em;
    font-size: 1.8em;
    justify-content: center;
    align-items: center;
}
.icon i:hover{
    color: rgb(128, 255, 0);
    transform: scale(1.3);
    animation: icon 3s infinite;
}
@keyframes icon {
    0%,100%{transform: translate(0);}
    50%{transform: translatey(17px);
    }
}
#menu-toggle{
    position: absolute;
    right: 10em;
    display: none;
}
/* --------------------footer end--------------- */
@media screen and (max-width:850px) {
    nav{
        display: none;
    }
     #menu-toggle:checked + nav{
        display: flex;
        flex-direction: column;
        gap: 4em;
        padding: 3em 6em;
        position: absolute;
        top: 5em;
        right: 0.5em;
        background-image: linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    }
    #bar{
        cursor: pointer;
        color: var(--yellow);
    }
}
@media screen and (max-width:850px) and (min-width:600px){
    /* nav{
        display: flex;
        flex-direction: column;
        gap: 4em;
        padding: 3em 6em;
        position: absolute;
        top: 5em;
        right: 1em;
        background-image: linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    } */
    #bar{
        display: block;
        position: absolute;
        right: 2em;
    }
    .offers{
        display: grid;
        grid-template-columns:1fr 1fr;
        object-fit: cover;
    }
}
@media screen and (max-width:600px) and (min-width:426px) {
    html{
        font-size: 15px;
    }
    #bar{
        display: block;
        position: absolute;
        right: 2em;
    }
    /* nav a{
        display: none;
    } */
    .offers{
        grid-template-columns: 1fr;
        grid-auto-flow: column;
        grid-auto-columns: 300px;

        overflow-y: auto;
        scrollbar-width: thin;
    }
}
@media screen and (max-width:715px){
    footer{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }  

}
@media screen and (max-width:426px){
    html{
    font-size: 12px;
}
    /* nav a{
        display: none;
    } */
    #bar{
        display: block;
        position: absolute;
        right: 2em;
    }
     .offers{
        grid-template-columns:1fr;
        grid-auto-flow: column;
        grid-auto-columns: 300px;

        overflow-x: auto;
        overflow-y: auto;
        scrollbar-width: thin;
    }
    footer{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}
