:root{
    --primary_color: red;
    --secontary_color:yellow;
    --third_color:blue;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------------------Navbar start------------------------------ */
.landing{
    background-image: url('./media/bac\ img5.avif');
    background-size: cover;
    background-position: top;
    height: 100vh;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: sticky;
    top: 0px;
    border-radius: 10px;
    background-color:rgb(229, 229, 90);
}
.navbar h1{
    color:var(--primary_color);
    background-color: aliceblue;
    padding: 5px 10px;
    font-size: 40px;
    border-radius: 0px 30px 0px 30px;
    border: 2px solid red;
}
.navbar a{
    text-decoration: none;
    color: var(--primary_color);
    background-color: aliceblue;
    padding: 5px 15px;
    border-radius: 30px;
    border: 1px solid red;
}
.link{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.navbar a:hover {
    color: var(--third_color);
}
/* -------------------------------Navbar End------------------------------- */
.info{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    border: 2px solid white;
    background-color: rgba(128, 128, 128, 0.269);
    padding: 30px;
    border-radius: 0px 30px 0px 30px ;
}
.info button{
    color: white;
    background-color: rgb(76, 230, 76);
    padding: 5px 15px;
    border-radius: 30px;
    border: none;
}
.info button:hover{
    background-color: rgb(18, 242, 18);
    transform: scale(1.2);
}
/* -------------------------------landing pag end -------------------- */

/* ----------------------------location------------------------- */

.location{
    position: relative;
    height: 60vh;
    text-align: center;
    background-image: linear-gradient(to right,rgba(100, 100, 100), rgb(53, 52, 52));
    color: white;
}
.velachery{
    position: absolute;
    left: 17%;
    top: 20%;
    padding: 30px;
    border: 2px solid white;
    border-radius: 0px 40px 0px 40px;
}
.annanagar{
    position: absolute;
    right: 17%;
    top: 50%;
    padding: 30px;
    border: 2px solid white;
    border-radius: 0px 40px 0px 40px;
}
.tambaram{
    position: absolute;
    left: 42%;
    top: 35%;
    padding: 30px;
    border: 2px solid white;
    border-radius: 0px 40px 0px 40px;
}